@model web.Models.Izdelek

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Knjiga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IzdelekId" />
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ocena" class="control-label"></label>
                <input asp-for="Ocena" class="form-control" />
                <span asp-validation-for="Ocena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="znamka" class="control-label"></label>
                <select asp-for="znamkaID" class="form-control" asp-items="ViewBag.znamkaID"></select>
                <span asp-validation-for="znamkaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZvrstID" class="control-label"></label>
                <select asp-for="ZvrstID" class="form-control" asp-items="ViewBag.ZvrstID"></select>
                <span asp-validation-for="ZvrstID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategorijaID" class="control-label"></label>
                <select asp-for="KategorijaID" class="form-control" asp-items="ViewBag.KategorijaID"></select>
                <span asp-validation-for="KategorijaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

