@model web.Models.Rezervacija

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RezervacijaId" />
            <div class="form-group">
                <label asp-for="datumPrevzema" class="control-label"></label>
                <input asp-for="datumPrevzema" class="form-control" />
                <span asp-validation-for="datumPrevzema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumZapadlosti" class="control-label"></label>
                <input asp-for="datumZapadlosti" class="form-control" />
                <span asp-validation-for="datumZapadlosti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IzdelekId" class="control-label"></label>
                <select asp-for="IzdelekId" class="form-control" asp-items="ViewBag.IzdelekId"></select>
                <span asp-validation-for="IzdelekId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEdited" class="control-label"></label>
                <input asp-for="DateEdited" class="form-control" />
                <span asp-validation-for="DateEdited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

