@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
</head>

<div class="container">
    <!-- Headline Section -->
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-5">Dobrodošli v spletni trgovini Skyrez.</h1>
        </div>
    </div>

    <!-- Full-Screen Image Section -->
    <div class="row">
        <div class="col-12">
            <img src="/images/gore.jpg" class="img-fluid w-100" alt="Full Screen Image">
        </div>
    </div>

    <!-- Image Left, Text Right Section -->
    <div class="row my-5 align-items-center">
        <div class="col-md-6">
            <img src="/images/smucar2.jpg" class="img-fluid" alt="Image Left">
        </div>
        <div class="col-md-6">
            <h2>Največja izbira!</h2>
            <p>V naši kolekciji boste našli najnovejše modele smuči, smučarskih čevljev, palic, oblačil in zaščitne opreme priznanih blagovnih znamk. Posebno pozornost posvečamo izbiri izdelkov, da vam zagotovimo le najboljše na trgu. Poleg tega redno posodabljamo našo ponudbo, da boste vedno na tekočem z najnovejšimi trendi in tehnologijami v smučarskem svetu.</p>
        </div>
    </div>

    <!-- Text Left, Image Right Section -->
    <div class="row my-5 align-items-center">
        <div class="col-md-6 order-md-2">
            <img src="/images/smuci.jpg" class="img-fluid" alt="Image Right">
        </div>
        <div class="col-md-6 order-md-1">
            <h2>Najboljša kvaliteta!</h2>
            <p>Zaupajte Skyrez za vrhunsko kakovost smučarske opreme in uživajte v nepozabnih trenutkih na snegu.</p>
        </div>
    </div>

    <p> Poglej celoten  <a href="http://localhost:5044/Knjiga">katalog!</a>.</p>
</div>