html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem rgb(255, 255, 255), 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #Becde2;
}
body {
  font-family: Arial, sans-serif;
  background-color: #Becde2;
  margin-bottom: 60px;
}

.img-fluid.w-100 {
  max-height: 100vh;
  object-fit: cover;
}

/* Alternating sections */
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.align-items-center {
  align-items: center !important;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}